h1 {
    color: #a4cfbb;
    font-size: 70px;
}

input {
    min-width: 400px;
    border-style: none none solid none;
    background-color: #0c151a;
    border-color: #a4cfbb;
    color: white;
    text-align: center;
    outline: none;
}

table .table .table-bordered {
    color: white;
}

button#top5 {
    background-color: #a5bbbe;
    text-decoration: none;
    border: none;
    color: #0c151a;
}

table#myTable {
    color: white;
}

.mybtn {
    background-color: #0c151a;
    text-decoration: none;
    border: none;
    color: white;
}

#box {
    align-self: center;
    background-color: #0c151a;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    border-style: solid solid solid solid;
    border-color: white;
}
